<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-2 mb-0">Sign in</p>
                    </div>

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Username</label>
                        <input type="text" 
                        class="form-control form-control-lg"
                        placeholder="Enter username" 
                        formControlName="userName" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" 
                        class="form-control form-control-lg" 
                        placeholder="Enter password" 
                        formControlName="password"/>
                    </div>

                    <div class="alert alert-danger" *ngIf="errorStatus">
                        <p> username or password is incorrect. </p>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? 
                            <a href="/register" class="link-danger">Register</a>
                        </p>
                    </div>
                </form>
                

            </div>
        </div>
    </div>
</section>